/* General Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:whitesmoke;
    margin: 0;
    font-family: Arial, sans-serif;
/* Calculator Styles */

.calculator {
    border: 2px solid #1169a4;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    background: blue;
}

#display {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
    font-size: 1.5em;
    border: none;
    border-bottom: 2px solid #7b2e64;
}
.clbtn{
  background-color: blue;
  padding: 20px;
  width: 150px;  
}
.eqbtn{
    background-color:aqua;
    font-size: 1.2em;
    padding: 20px;
    width: 145px;
    border:1px solid rgb(54, 102, 118);
    height: 63px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 20px;
    font-size: 1.2em;
    border: 1px solid rgb(51, 85, 96);
    background: rgb(9, 174, 245);
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: rgb(0, 68, 255);
}

.btn-zero {
    grid-column: span 2;
}

.btn:active {
    background: greenyellow;
}
